body {
  background-color: rgb(0, 100, 33);
}
h2 {
background-color: gray;
color: yellow;
font-size: 18px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
h5 {
  border: 1px lightblue;
}
.card {
  display: inline-flex;
  justify-content: space-evenly;
}
.container {
  flex-wrap: wrap;
}
header {
  text-align: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.692);
  font-family: 'Roboto Mono', monospace;
}
